{{>header}}

  <h1 class="about-title">{{ title }} Me</h1>
  <p class="about-subhead">Not everything is black and white…except penguins. And pandas. And my website.</p>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#short">Short Version</a></li>
    <li><a data-toggle="pill" href="#long">Long Version</a></li>
  </ul>

  <div class="tab-content">
    <div id="short" class="tab-pane fade in active">
      <div class="about">
        My name is Jackson Behan. I’m a 28-year-old developer living in Albany. To be able to call myself that, a developer, is a huge accomplishment for me. I felt lost for a long time, especially in school, where I never found a passion in any subject. When I was 26 I discovered programming and decided to learn how to code at Dev Bootcamp in San Francisco. Within a month of completing the intensive course, I landed a job in Las Vegas. I was young, inexperienced and severely lacking in confidence, but at last, I finally had a real job. Two years later, I’m back home in NY and ready to take on new challenges.
      </div>
    </div>
    <div id="long" class="tab-pane fade">
      <div class="about">
        <p>
          It wasn't until I was 26 years old that I discovered what I wanted to do with my life. I was never interested in any subject in school, from grade school through college. In college my major was undecided for as long as possible and I eventually settled on accounting because I got an A in accounting and accountants make good money. I got my bachelors degree but never pursued a job in it. I spent about 4 years working crummy jobs: a pizza joint, a restaurant, a bank, while trying to pursue a poker-playing career. I do love poker but it is a grind. It’s even more of a grind when you live in Albany and the closest casino is 2 hours away. For a year and a half I only played poker and made that trip multiple times throughout the week but it just wasn’t practical.
        </p>
        <p>
          In April 2013 my Mom read an article about coding bootcamps and sent it to me. I didn’t even know what coding was but I was intrigued. I started doing some tutorials on Codecademy and I thought it was fun. It didn’t take me long to decide I was going to apply to some of those bootcamps because this was the first practical thing in my life that I’ve ever been excited about (dream jobs, aside from poker, were NFL superstar, NBA superstar, rock star, and movie star). I got accepted into Dev Bootcamp in San Francisco. My girlfriend at the time and I moved to Las Vegas about a month before I went to the bootcamp. We moved there for a variety of reasons and pursuing a poker career wasn’t necessarily one of them. The bootcamp was extremely difficult for me; everyone else seemed to have been passionate about coding for a long time. It was so much information to process, every few hours we were learning something new. I managed to graduate but still felt completely unprepared.
        </p>
        <p>
          Regardless, I was able to land a job in Las Vegas within a month. It was a good situation at first, I was hired as an intern, wasn’t a lot of pressure and I was able to take my time and learn new things.  Things started to change there though and we didn’t really have a web development team, they outsourced almost all of their dev work to a company in China. I was pushed into other roles that had nothing to do with programming. I left that job for another and there I got what I needed, immersed in code all day every day and that’s when things really started to click for me and I began to feel comfortable and confident as a developer.
        </p>
      </div>
    </div>
  </div>

{{>footer}}