{{>header}}
    <p class="nav-note"> <- reduce the browser width and check out my full screen dropdown nav</p>
    <p class="tacky">Are these animations tacky?</p>
    <div class="headline"><h1>{{ title }}</h1></div>
    <p class="subhead">Web developer and doer of things.</p>
{{>footer}}

