{{>header}}
    <p class="nav-note index-content"> <- reduce the browser width and check out my full screen dropdown nav</p>
    <p class="tacky index-content">Are these animations tacky?</p>
    <div class="headline index-content"><h1>{{ title }}</h1></div>
    <p class="subhead index-content">Web developer and doer of things.</p>
{{>footer}}

